<div class="product-card">
  <h3 class="product-card__title">{{ product.title }}</h3>
  <p class="product-card__price">${{ product.price }} USD</p>

  {% if product.tags %}
    <ul class="product-card__tags">
      {% for tag in product.tags %}
        <li class="product-card__tag">{{ tag }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>