{% assign hero_image = section.settings.background_image | default: 'hero_banner_img.avif' %}

<section class="hero" style="background-image: url('/assets/{{ hero_image }}');">
  <div class="hero__content">
    <div class="hero__image"></div>
    {% assign btn_text = section.settings.button_text | default: 'VIEW THE COLLECTION' %}
    {% assign btn_link = section.settings.button_link | default: '/collections/all' %}
    
    <a href="{{ btn_link }}" class="hero__cta">
      {{ btn_text }}
    </a>
  </div>

  <div class="hero__marquee">
    <div class="hero__marquee-track">
      {% for i in (1..15) %}
        <span class="hero__marquee-item">✨ {{ section.settings.marquee_text }}</span>
      {% endfor %}
    </div>
  </div>
</section>