<div class="message">
  <div class="marquee">
    <span>SHUFFLE ESSENTIALS ✦</span>
    <span>SHUFFLE ESSENTIALS ✦</span>
    <span>SHUFFLE ESSENTIALS ✦</span>
    <span>SHUFFLE ESSENTIALS ✦</span>
    <span>SHUFFLE ESSENTIALS ✦</span>
  </div>
</div>