<div class="topbar">
  <div class="topbar__marquee">
    <div class="topbar__track">
      {% for i in (1..12) %}
        <div class="topbar__item">✨ FREE SHIPPING FOR ORDERS OVER $100 </div>
      {% endfor %}
    </div>
  </div>
</div>